In [16]:
!pip install line_profiler
!pip install rdp
!pip install pandas
!pip install xgboost
!pip install scikit-learn
!pip install matplotlib
!pip install sys

Requirement already satisfied: line_profiler in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (4.2.0)
Requirement already satisfied: rdp in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (0.8)
Requirement already satisfied: numpy in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from rdp) (2.3.1)
Requirement already satisfied: pandas in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: xgboost in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (3.0.2)
Requirement already satisfied: numpy in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from xgboost) (2.3.1)
Requirement already satisfied: scipy in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from xgboost) (1.16.0)
Requirement already satisfied: scikit-learn in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (1.7.0)
Requirement already satisfied: numpy>=1.22.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from scikit-learn) (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: matplotlib in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\peluc\documents\master data science\human-centered machine learning\project\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

ERROR: Could not find a version that satisfies the requirement sys (from versions: none)
ERROR: No matching distribution found for sys

In [18]:

import sys
sys.path.append(r'IRonPy-master')
from iron import phi

In [22]:

import sys
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import xgboost as xgb
import importlib
sys.path.append(r'ID-8A60')
import IDLoss
importlib.reload(IDLoss)
from IDLoss import id_loss
import sys
import time  # For timing
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score 
sys.path.append(r'IRonPy-master')
from iron import phi

In [23]:
df = pd.read_csv('sampled_data_7000.csv')
df.head()

,hours-per-week,age,capital-gain,capital-loss,workclass,education,education-num,marital-status,relationship,race,gender,native-country,income,occupation
0,26,17,0,0,Private,9th,5,Never-married,Own-child,Black,Male,United-States,2515,Other-service
1,40,47,0,1977,Self-emp-not-inc,Some-college,10,Married-civ-spouse,Husband,White,Male,United-States,99999,Craft-repair
2,42,48,0,0,Private,Assoc-acdm,12,Divorced,Unmarried,White,Female,United-States,18045,Exec-managerial
3,40,25,0,0,State-gov,Some-college,10,Married-civ-spouse,Husband,White,Male,United-States,22412,Protective-serv
4,40,45,0,0,State-gov,Some-college,10,Never-married,Not-in-family,White,Female,United-States,30100,Adm-clerical

In [24]:
# Drop education-num column (we hot-encode it with education column)
df = df.drop(columns=['education-num'])

#  List categorical columns to encode
categorical_cols = ['workclass', 'education', 'marital-status', 'relationship',
                    'race', 'gender', 'native-country', 'occupation']

#  One-hot encode categorical columns
df_train_encoded = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

## READY TO TRAIN!! 

X = df_train_encoded.drop(columns=['income'])
y = df_train_encoded['income']


from sklearn.model_selection import train_test_split

# Bin continuous target into quartiles for stratification
y_binned = pd.qcut(y, q=4, labels=False)

# Stratified train/val split using binned labels (to balance the income label in train&split)
X_train, X_val, y_train, y_val = train_test_split(
    X, y,
    test_size=0.2,
    stratify=y_binned,
    random_state=42
)

In [25]:
# Your protected attributes
prot_attrs = [col for col in X_train.columns if col.startswith('race_') or col.startswith('gender_')]

# Convert y to float64
y_train_float = np.array(y_train, dtype=np.float64)

# Initialize phi control object and compute phis
ph = phi.phi_control(pd.Series(y_train_float))
phis = np.array(phi.phi(pd.Series(y_train_float), ph), dtype=np.float64)

# Create the IDLoss objective function
loss = id_loss(ph, X_train, prot_attrs, approx=False)

# Initialize the model
model = xgb.XGBRegressor(
    objective=loss,
    n_estimators=30,
    max_depth=3,
    learning_rate=0.2,
    random_state=42,
    n_jobs=-1
)

# Fit the model
model.fit(X_train, y_train)
# Predict
y_pred = model.predict(X_val)

In [26]:
pred_df = X_val.copy()
pred_df['pred_income'] = y_pred
pred_df['pred_income'] = pred_df['pred_income'].round(2)
pred_df.head()

,hours-per-week,age,capital-gain,capital-loss,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,...,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,pred_income
4109,40,51,0,1887,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,61087.398438
5295,40,26,0,0,False,False,False,True,False,False,...,False,False,False,False,False,True,False,False,False,51208.308594
3334,40,32,0,0,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,52909.660156
6151,12,17,0,0,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,897.020020
2081,35,23,0,0,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,False,10570.549805

In [27]:
mean_race_pred = {}
mean_gender_pred = {}


mean_race_pred['Privileged Race']=pred_df[pred_df['race_White']==True]['pred_income'].mean()
mean_race_pred['Not Privileged Race']=pred_df[pred_df['race_White']!=True]['pred_income'].mean()


mean_gender_pred['gender_Male']=pred_df[pred_df['gender_Male']==True]['pred_income'].mean()
mean_gender_pred['gender_Female']=pred_df[pred_df['gender_Male']!=True]['pred_income'].mean()

mean_race_pred

{'Privileged Race': np.float32(37774.57),
 'Not Privileged Race': np.float32(27568.35)}

In [28]:
race_sp = pd.DataFrame(0.0, index=mean_race_pred.keys(), columns=mean_race_pred.keys())

for i in race_sp.index:
  for j in race_sp.columns:
    race_sp.loc[i, j] = mean_race_pred[i] - mean_race_pred[j]

race_sp

                     Privileged Race  Not Privileged Race
Privileged Race             0.000000         10206.220703
Not Privileged Race    -10206.220703             0.000000

In [29]:
gender_sp = pd.DataFrame(0.0, index=mean_gender_pred.keys(), columns=mean_gender_pred.keys())

for i in gender_sp.index:
  for j in gender_sp.columns:
    gender_sp.loc[i, j] = mean_gender_pred[i] - mean_gender_pred[j]

gender_sp

                gender_Male  gender_Female
gender_Male        0.000000   24157.302734
gender_Female -24157.302734       0.000000

In [30]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_val, y_pred)
mae = mean_absolute_error(y_val, y_pred)
r2 = r2_score(y_val, y_pred)

print("Evaluation Metrics:")
print(f"• MSE:  {mse:.4f}")
print(f"• MAE:  {mae:.4f}")
print(f"• R²:   {r2:.4f}")

# To view some predictions
print("\n Sample predictions:", y_pred[:10])

Evaluation Metrics:
• MSE:  462921120.0000
• MAE:  15887.0830
• R²:   0.3639

 Sample predictions: [61087.4    51208.31   52909.66     897.0234 10570.554  26520.229
 51208.31   75648.74    7741.2188 16390.586 ]